<div class="profile-menu">
    <div class="content">
      <h1 class="menu-title">Administra tu cuenta aquí</h1>
      <div class="profile-list">
        <div class="profile">
          <img src="https://smartbodyfit.com/img/cms/regulable_jacketb.jpg" alt="Avatar del perfil" class="profile-avatar">
          <div class="profile-name">Traje de entrenamiento</div>
        </div>
        <div class="profile">
            <img src="https://hips.hearstapps.com/elle-es/assets/15/37/original/original-roestimulacion-para-ponerse-en-forma-11110782-1-esl-es-electroestimulacion-para-ponerse-en-forma-jpg.jpg" alt="Avatar del perfil" class="profile-avatar">
            <div class="profile-name">Entrenamiento personalizado</div>
          </div>
        <!-- Repite este bloque para cada perfil -->
      </div>
    </div>
  </div>