<div class="modal-header">
    <h4 class="modal-title">{{ steps[currentStep]?.title }}</h4>
    <button type="button" class="close" aria-label="Cerrar" (click)="closeTutorial()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ steps[currentStep]?.content }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="prevStep()" [disabled]="currentStep === 0">Anterior</button>
    <button type="button" class="btn btn-primary" (click)="nextStep()" [disabled]="currentStep === steps.length - 1">Siguiente</button>
    <button type="button" class="btn btn-secondary" (click)="closeTutorial()">Cerrar</button>
  </div>