<div class="modal-container" [ngClass]="_modalSignupService.hiddenModalSignup">
    <div class="modal">
      <div class="header">
        <h2>Crear una cuenta</h2>
        <button class="close-button" (click)="closeRegisterModal()">&#10006;</button>
      </div>
      <form [formGroup]="formRegister" (ngSubmit)="registrarUsuario()">
        <div class="row">
          <div class="col-sm-6">
            <label for="name">Nombres:</label>
            <input type="text" id="name" name="name" formControlName="first_name" required>
          </div>
          <div class="col-sm-6">
            <label for="name">Apellidos:</label>
            <input type="text" id="name" name="name" formControlName="last_name" required>
          </div>
        </div>

       
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" formControlName="email" required>
        
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" formControlName="password" required>

        <label for="passwordAgain">Repita su Contraseña</label>
        <input required type="password" formControlName="passwordAgain" name="passwordAgain" class="form-control"/>
      
        <div class="form-group" *ngIf="formRegister.errors?.['areSamePassword'] && !formRegister.pristine">
            <p class="text-danger">
                Las contraseñas deben ser iguales
            </p>
        </div>

        <div class="">
            <input class="display-check-conditions" id="checkbox" type="checkbox" required name="conditions" formControlName="conditions" />
            <label calss="label-check-conditions-padding" for="checkbox">Estoy de acuerdo con los <a href="#">términos y condiciones</a></label>
        </div>

        <button type="submit" [disabled]="!formRegister.valid">Registrarse</button>
      </form>
      <p class="login-link">¿Ya tienes una cuenta? <a href="#">Iniciar sesión</a></p>
    </div>
</div>
